@import url('https://fonts.googleapis.com/css2?family=Karla');

/* The body class targets the <body> tag in your html file */
body {
    background-color: #89A997;
    color: #EBEBEB;
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 40px;
    background-color: #EBEBEB;
    color: #000;
    font-size: 18px;
    position: relative;
    top: 0;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #000;
}
.jumbotron {
    background-color: #89A997;
    color: #EBEBEB;
    font-family: "Karla", sans-serif;
    margin: 0;
    text-align: center;
}
.content {
    padding: 40px;
}